.container
    display: flex
    width: 100%

.imageContainer
    padding-right: 30px
    width: 180px
    height: 180px
    img
        width: 100%
        border-radius: 10px

.descriptionContainer
    display: flex
    flex-direction: column
    
.companyNameContainer
    display: flex
    align-items: center

.name
    color: #212121
    font-size: 30px
    font-weight: 400
    line-height: 30px
    margin-bottom: 10px

.companyName, .typeOfApp
    color: #33691e
    font-weight: 700
    cursor: pointer
    &:hover
        text-decoration: underline

.typeOfApp
    margin-left: 15px
.apperStarsBlock
    display: flex
    align-items: center
    p
      color: #8d8d8d
      font-weight: 700
      font-size: 13px
      text-align: right
.ageContainer
    display: flex
    align-items: center
    margin-top: 10px
    border: 1px solid black
    width: 25px
    margin-bottom: 20px
    p
        font-size: 14px
    span
        margin-left: 10px
        font-size: 13px
        font-weight: 700
        line-height: 1
        color: #737373

.support
    color: #737373
    font-weight: 700
    font-size: 14px

.canDownload
    display: flex
    align-items: center
    p
        color: #737373
        cursor: pointer
        display: table
        line-height: 22px
        font-size: 12px

.addToWishList
    display: flex
    align-items: center
    margin-top: 15px
    img
        margin-right: 5px
        cursor: pointer
    p
        color: #33691e
        cursor: pointer
    &:hover
        p
            text-decoration: underline

.downloadContainer
    display: flex
    flex-direction: column
    justify-content: space-between

.starsContainer
    margin-top: 5px
    display: flex
    align-items: center

.downloads
    display: flex
    align-items: center
    p
        color: #616161
        font-size: 12px
        text-align: right
        margin: 0 5px

.installBtnContainer
    button
        background-color: #689F38
        color: white
        line-height: 36px
        cursor: pointer
        border-radius: 4px
        outline: 0
        border: 1px solid #fff
        font-size: 14px
        padding: 0 20px
        box-sizing: border-box
        transition: .3s
        font-weight: 500
        min-width: 40px
        &:hover
            background-color: #7c9d60
.mobile_button
    display: none
    button
        margin-top: 15px
        width: 100%
        background-color: #689F38
        color: white
        line-height: 36px
        cursor: pointer
        border-radius: 4px
        outline: 0
        border: 1px solid #fff
        font-size: 14px
        padding: 0 20px
        box-sizing: border-box
        transition: .3s
        font-weight: 500
        min-width: 40px
        &:hover
            background-color: #7c9d60
.mobile_position
    display: none
.blockIconAle
    padding: 0 3px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: space-around
    p
        text-align: center
.textUnder
    font-size: 12px
.wrapIcon
    display: flex
    align-items: center
    img
    margin-left: 5px
.wrapIconDownload
    img
        height: 25px
        width: auto
        background-color: transparent
.iconsWrapper
    display: none
    position: relative
    padding: 10px 20px
    justify-content: space-around
.wrapIconAge
    p
        background-color: #3C3F41
        padding: 2px 5px
        color: white
.lineWrapper
    height: 100%
    display: flex
    align-items: center
.line
    top: 20px
    position: absolute
    height: 30px
    border-right: 1px solid gray

@media screen and (max-width: 750px)
    .iconsWrapper
        display: flex
    .addToWishList
        display: none
    .mobile_position
        display: flex
        align-items: center
        flex-direction: column
    .mobile_button
        display: block
    .installBtnContainerPhone
        display: block
    .canDownloadContainer 
        display: none
    
    .downloadContainer
        display: none

    .imageContainer
        padding-right: 10px
        width: 70px
        height: 70px
        img
            width: 100%

    .name
        font-size: 16px
        line-height: 20px
        margin-bottom: 5px
        padding-left: 4px

    .companyName, .typeOfApp
        font-size: 12px
        padding-left: 4px
        &:hover
            text-decoration: underline
            
    .ageContainer
        display: none
    
    .addToWishList
        margin-top: 5px
        p
            font-size: 12px
        img
            width: 20px
            height: 20px
    .container
.back_line
    position: relative
    background-color: #C7DDD6
    height: 5px
    border-radius: 5px
    width: 100%
.progresive_line
    background-color: #02885d
    height: 5px
    border-radius: 5px